body, footer {
    font-family: 'Raleway', sans-serif;
    color: #801515;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Reggae One', cursive;
    color: #500;
}

.btn-primary {
    background-color: #801515;
    border-color: #801515;
    color: white;
}

.btn-primary:hover {
    background-color: #500;
    border-color: #500;
}